---
// Component Imports
import Link from "../components/Link.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Adam Elmore | Software Developer</title>
    <meta
      name="description"
      content="Adam Elmore is a developer, AWS Hero, streamer, and more!"
    />
  </head>

  <body>
    <div class="grid h-screen lg:grid-flow-col">
      <Link href="https://twitter.com/adamdotdev" color="bg-[#EBFF63]">
        <div class="sr-only">Adam's Twitter</div>
        <div class="w-14 h-14 absolute">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171.505 139.378">
            <path
              fill="#2aa9e0"
              d="M171.505 16.499a70.317 70.317 0 0 1-20.209 5.54c7.264-4.355 12.844-11.25 15.471-19.467a70.408 70.408 0 0 1-22.345 8.538A35.14 35.14 0 0 0 118.739 0C99.308 0 83.553 15.754 83.553 35.186c0 2.758.311 5.444.912 8.019-29.243-1.467-55.17-15.476-72.525-36.764A35.016 35.016 0 0 0 7.176 24.13c0 12.208 6.212 22.977 15.653 29.287a35.052 35.052 0 0 1-15.937-4.401c-.004.147-.004.294-.004.442 0 17.048 12.129 31.268 28.226 34.503a35.236 35.236 0 0 1-15.89.603c4.478 13.979 17.472 24.151 32.87 24.434-12.042 9.438-27.214 15.063-43.7 15.063A71.56 71.56 0 0 1 0 123.569c15.572 9.984 34.067 15.809 53.938 15.809 64.72 0 100.113-53.615 100.113-100.114a101.56 101.56 0 0 0-.102-4.553 71.47 71.47 0 0 0 17.556-18.213z"
            ></path>
          </svg>
        </div>
      </Link>
      <Link color="bg-[#25D0AB]" href="https://youtube.com/@adamdotdev">
        <div class="sr-only">Adam's YouTube</div>
        <img
          src="/youtube.png"
          alt="YouTube"
          class="absolute opacity-0 inset-x-0 -inset-y-56 lg:-inset-y-0 h-screen object-cover group-hover:opacity-30 transition-all"
        />
        <div class="w-14 h-14 absolute mt-6">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159 110">
            <path
              fill="red"
              d="M154 17.5c-1.82-6.73-7.07-12-13.8-13.8-9.04-3.49-96.6-5.2-122 .1-6.73 1.82-12 7.07-13.8 13.8C.32 35.5.01 74.2 4.5 92.5c1.82 6.73 7.07 12 13.8 13.8 17.9 4.12 103 4.7 122 0 6.73-1.82 12-7.07 13.8-13.8 4.35-19.5 4.66-55.8-.1-75z"
            ></path>
            <path fill="#fff" d="M105 55 64.2 31.6v46.8z"></path>
          </svg>
        </div>
      </Link>
      <Link color="bg-[#FCBB02]" href="https://twitch.tv/adamdotdev">
        <div class="sr-only">Adam's Twitch</div>
        <img
          src="/twitch.png"
          alt="Twitch"
          class="absolute opacity-0 inset-x-0 -inset-y-56 lg:-inset-y-0 h-screen object-cover group-hover:opacity-30 transition-all"
        />
        <div class="w-14 h-14 absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            viewBox="0 0 111.787 127.387"
          >
            <path
              d="m0 0-13.652-13.651h-21.445l-11.699-11.697v11.697h-17.548v56.544H0Zm-72.146 50.692-3.899-15.599v-70.19h17.55v-9.751h9.746l9.752 9.751h15.596L7.795-3.905v54.597z"
              style="fill:#6441a5;fill-opacity:1;fill-rule:evenodd;stroke:none"
              transform="matrix(1.33333 0 0 -1.33333 101.393 67.59)"></path>
            <path
              d="M44.197 62.394h10.399V31.193H44.197zm28.595 0h10.399V31.193H72.792z"
              style="fill:#6441a5;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1.33333"
            ></path>
          </svg>
        </div>
      </Link>
      <Link color="bg-[#F69EC5]" href="https://tomorrow.fm">
        <div class="sr-only">Adam's Podcast</div>
        <img
          src="/tomorrow.png"
          alt="How About Tomorrow?"
          class="absolute opacity-0 inset-x-0 -inset-y-56 lg:-inset-y-0 h-screen object-cover group-hover:opacity-30 transition-all"
        />
        <div class="w-14 h-14 absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 60 60"
          >
            <rect width="60" height="60" fill="#1A1A1A" rx="13"></rect>
            <path
              fill="#EBFF63"
              d="M25.576 32.993c0 .55.138 1.138.412 1.805h7.827c.197-.667.608-1.295 1.217-1.923a15.921 15.921 0 0 1 1.942-1.706 29.79 29.79 0 0 0 2-1.668c.648-.588 1.197-1.373 1.629-2.314.431-.942.647-2.02.647-3.217 0-2.334-1.02-4.355-3.06-6.08-2.04-1.727-4.688-2.59-7.984-2.59-1.609 0-3.119.255-4.512.745-1.393.51-2.491 1.06-3.276 1.648a12.49 12.49 0 0 0-2.118 2.08c-.628.784-1.04 1.333-1.197 1.647-.157.314-.275.55-.353.745l7.63 3.413.236-.45c.196-.315.55-.628 1.06-.923.51-.294 1.078-.431 1.726-.431 1.196-.02 1.804.51 1.804 1.589 0 .392-.196.784-.588 1.137-.392.354-.863.726-1.412 1.08-.55.352-1.08.745-1.629 1.176-.549.432-1.02 1.02-1.412 1.746-.392.726-.588 1.55-.588 2.491Zm-.392 7.65c0 1.118.412 2.06 1.236 2.825.824.784 1.883 1.157 3.158 1.157 1.295 0 2.354-.373 3.178-1.157.824-.765 1.236-1.707 1.236-2.825 0-1.138-.412-2.08-1.236-2.864-.824-.784-1.883-1.157-3.178-1.157-1.275 0-2.334.373-3.158 1.157-.824.785-1.236 1.726-1.236 2.864Z"
            ></path>
          </svg>
        </div>
      </Link>
    </div>
  </body>
</html>
