---
// Component Imports
import Layout from "../layouts/main.astro"
---

<Layout>
  <head>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <div class="flex items-center justify-center h-screen">
    <div
      id="g_id_onload"
      data-client_id="111136027280-9ladkfu1oa8opp3pcm65ilg10llehbjn.apps.googleusercontent.com"
      data-login-uri="https://api.adam.dev/auth/google/callback"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false"
    >
    </div>
    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    >
    </div>
  </div>
</Layout>

<script is:inline>
  function handleCredentialResponse(response) {
    window.location.href =
      "https://buy.stripe.com/dR6aGv7eK9QH1c4dQQ?prefilled_email=elmore.kacey%40gmail.com"

    // decodeJwtResponse() is a custom function defined by you
    // to decode the credential response.
    /* const responsePayload = decodeJwtResponse(response.credential) */
    /**/
    /* console.log("ID: " + responsePayload.sub) */
    /* console.log("Full Name: " + responsePayload.name) */
    /* console.log("Given Name: " + responsePayload.given_name) */
    /* console.log("Family Name: " + responsePayload.family_name) */
    /* console.log("Image URL: " + responsePayload.picture) */
    /* console.log("Email: " + responsePayload.email) */
  }
</script>
